<html>
<head>
    <title>Dáil Léargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='debate.css') }}">
</head>

<body>
    <header>
        <nav class="titlenavbar">
            <ul>
                <li><a href="{{ url_for('home') }}" class="navtitle">Dáil Léargas</a></li>
                <li><a href="{{ url_for('overallstats') }}">Overall Statistics</a></li>
                <li><a href="{{ url_for('debates') }}">Debates</a></li>
                <li><a href="{{ url_for('tds') }}">Teachta Dála</a></li>
                <li><a href="{{ url_for('parties') }}">Parties</a></li>
                <li><a href="{{ url_for('votes') }}">Votes</a></li>
                <li><a href="{{ url_for('info') }}">Website Info</a></li>
            </ul>
        </nav>
    </header>

    <div class="debateheader">
        <h1>{{ debate.title }}</h1>
        <p class="debate_date">{{ debate.date }}</p>
        <a class="fulltext_link" href="{{ url_for('debatetext', debate_id=debate.id) }}">See Full Text</a>
    </div>

    <div class="debate_container">

        <table class="debatetable">
            <tr>
                <th>Words</th>
                <th>Frequency</th>
                <th>Probability</th>
            </tr>
            {% for row in prob_dist %}
            <tr>
                <td>{{ row.words }}</td>
                <td>{{ row.freq }}</td>
                <td>{{ "%.2f"|format(row.prob * 100) }}&#37;</td>
            </tr>
            {% endfor %}
        </table>

        <div class="right_column">

            <div class="irish_box">
                <p>Percentage of Irish language within this debate = {{ debate.irish_per }}&#37;</p>
            </div>

            <div class="speakers_box">
                <h3>Speakers</h3>
                <table>
                    <tr>
                        <th>Speaker</th>
                        <th>Sentiment</th>
                    </tr>
                    {% for name in speaker_list %}
                    <tr>
                        <td><a href="{{ url_for('debatespeaker', debate_id=debate.id, td_name=name.td) }}">{{ name.td }}</a></td>
                        <td>{{ "%.2f"|format(name.sentiment) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

</body>
</html>
