<html>
<head>
    <title>Oireachtas Revealed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="mainheader">
        <h1>Oireachtas Revealed</h1>
        <p>Parliamentary analysis tool  </p>
    </div>

    <div class="center">
        <p>This is a website that conducts and displays text analysis on Oireachtas debates.</p>
        <p>Click to view the following:</p>
        <ul>
            <li><a href="{{ url_for('overallstats')}}">Overall statistics</a></li>
            <li><a href="{{ url_for('debateindex')}}">Debates</a></li>
            <li><a href="{{ url_for('tdindex')}}">Teachta Dála</a></li>
            <li> <a href="{{ url_for('info')}}">Info about this site</a></li>
        </ul>
    </div>
    
</body>
</html>