<html>
<head>
    <title>Dáil Léargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='debateindex.css') }}">
</head>
<body>
    <header>
        <nav class="titlenavbar">
            <ul>
                <li><a href="{{ url_for('home') }}" class="navtitle">Dáil Léargas</a></li>
                <li><a href="{{ url_for('overallstats') }}">Overall Statistics</a></li>
                <li><a href="{{ url_for('debates') }}">Debates</a></li>
                <li><a href="{{ url_for('tds') }}">Teachta Dála</a></li>
                <li><a href="{{ url_for('parties') }}">Parties</a></li>
                <li><a href="{{ url_for('votes') }}">Votes</a></li>
                <li><a href="{{ url_for('info') }}">Website Info</a></li>
            </ul>
        </nav>
    </header>
        <p>Percentage of Irish language within this debate = {{ irish_per.irish_per }}&#37;</p>
        <h2>Overall Statistics for all debates in the 34th Dáil</h2>
        <canvas id="overallprobdist" width="500" height="200"></canvas>
        <canvas id="overall_irishper" width="500" height="200"></canvas>
            
        <div class = contentwrapper>
            <table class = debateindextable>
            <tr>
                <th>Words</th>
                <th>Frequency</th>
                <th>Probability</th>
            </tr>
            {%for row in full_text%}
            <tr>
                <td>{{row.words}}</td>
                <td>{{row.freq}}</td>
                <td>{{ "%.2f"|format(row.prob * 100)}}&#37;</td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <script>
            const words = {{ words | tojson }};
            const freq = {{ freq | tojson }};
            const prob = {{ prob | tojson }};
        </script>
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
         <div>
            <script src="{{ url_for('static', filename='graphs.js') }}"></script>
         </div>
         
    </body>
</html>
