<html>
<head>
    <title>Dáil Léargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
        <nav class="titlenavbar">
            <ul>
                <li><a href="{{ url_for('home') }}" class="navtitle">Dáil Léargas</a></li>
                <li><a href="{{ url_for('overallstats') }}">Overall Statistics</a></li>
                <li><a href="{{ url_for('debates') }}">Debates</a></li>
                <li><a href="{{ url_for('tds') }}">Teachta Dála</a></li>
                <li><a href="{{ url_for('parties') }}">Parties</a></li>
                <li><a href="{{ url_for('votes') }}">Votes</a></li>
                <li><a href="{{ url_for('info') }}">Website Info</a></li>
            </ul>
        </nav>