<html>
    <head>
        <title>Oireachtas Revealed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='debate.css') }}">
    </head>
    <header>
        <nav class="titlenavbar">
            <ul>
                <li><a href="{{ url_for('home') }}" class="navtitle">Dáil Léargas</a></li>
                <li><a href="{{ url_for('overallstats') }}">Overall Statistics</a></li>
                <li><a href="{{ url_for('debates') }}">Debates</a></li>
                <li><a href="{{ url_for('tds') }}">Teachta Dála</a></li>
                <li><a href="{{ url_for('partyindex') }}">Parties</a></li>
                <li><a href="{{ url_for('words') }}">Words</a></li>
                <li><a href="{{ url_for('info') }}">Website Info</a></li>
            </ul>
        </nav>
    </header>
    <div class="debateheader">
            <h2>{{debate.title}} — {{debate.date}}</h2> 
            <a href="{{ url_for('debatespecific', debate_id=debate.id) }}">Back to Debate</a>
        </div>
    <body>
        <div class = contentwrapper>
            <div class="contributions_list">
                {% for contribution in contributions %}
                    {% if contribution.td %}
                        <div class="contribution">
                            <div class="contribution_speaker">
                                {% if contribution.td_id %}
                                <a class="contribution_speaker_link" href="{{ url_for('tdspecific', id=contribution.td_id) }}">
                                    {% if contribution.photo %}
                                    <img class="contribution_photo" src="{{ contribution.photo }}" alt="{{ contribution.td }}">
                                    {% endif %}
                                    <div class="contribution_name">{{ contribution.td }}</div>
                                </a>
                                {% else %}
                                    {% if contribution.photo %}
                                    <img class="contribution_photo" src="{{ contribution.photo }}" alt="{{ contribution.td }}">
                                    {% endif %}
                                    <div class="contribution_name">{{ contribution.td }}</div>
                                {% endif %}
                            </div>
                            <div class="contribution_text">{{ contribution.contribution }}</div>
                        </div>
                    {% else %}
                        <div class="contribution_plain">{{ contribution.contribution }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>