<html>
<head>
    <title>Dáil Léargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
    <header>
        <nav class="titlenavbar">
            <ul>
                <li><a href="{{ url_for('home') }}" class="navtitle">Dáil Léargas</a></li>
                <li><a href="{{ url_for('overallstats') }}">Overall Statistics</a></li>
                <li><a href="{{ url_for('debates') }}">Debates</a></li>
                <li><a href="{{ url_for('tds') }}">Teachta Dála</a></li>
                <li><a href="{{ url_for('partyindex') }}">Parties</a></li>
                <li><a href="{{ url_for('words') }}">Words</a></li>
                <li><a href="{{ url_for('info') }}">Website Info</a></li>
            </ul>
        </nav>
<p>VADER is defined as a rule-based method that calculates four sentiment scores: Negative (Neg), Neutral (Neu), Positive (Pos), and Compound. The Compound score is a weighted composite that ranges from −1 (most negative) to +1 (most positive). It is computed by summing the valence scores of each word in the lexicon, adjusting for heuristics, and normalizing the result. Sentiment classification is then determined by the Compound score: a score ≥ 0.05 is classified as positive, ≤ −0.05 as negative, and between −0.05 and 0.05 as neutral.</p>
