<html>
<head>
    <title>Dáil Léargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='word.css') }}">
</head>
<body>
    <header>
        <nav class="titlenavbar">
            <ul>
                <li><a href="{{ url_for('home') }}" class="navtitle">Dáil Léargas</a></li>
                <li><a href="{{ url_for('overallstats') }}">Overall Statistics</a></li>
                <li><a href="{{ url_for('debates') }}">Debates</a></li>
                <li><a href="{{ url_for('tds') }}">Teachta Dála</a></li>
                <li><a href="{{ url_for('partyindex') }}">Parties</a></li>
                <li><a href="{{ url_for('words') }}">Words</a></li>
                <li><a href="{{ url_for('info') }}">Website Info</a></li>
            </ul>
        </nav>
    </header>
 
    <div class="word-hero">
        <h2>{{ word }}</h2>
        <p>Word usage over time</p>
    </div>
 
    <div class="word-container">
        <div class="chart-box">
            <div id="word_chart"></div>
        </div>
    </div>
 
    <script>
      const dates = {{ dates | tojson }};
      const counts = {{ counts | tojson }};
      const word = {{ word | tojson }};
    </script>
    <script src="https://cdn.plot.ly/plotly-3.6.0.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='wordgraphs.js') }}"></script>
 
</body>
</html>
