<html>
<head>
    <title>Dáil Léargas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
    <header>
        <nav class="titlenavbar">
            <ul>
                <li><a href="{{ url_for('home') }}" class="navtitle">Dáil Léargas</a></li>
                <li><a href="{{ url_for('overallstats') }}">Overall Statistics</a></li>
                <li><a href="{{ url_for('debates') }}">Debates</a></li>
                <li><a href="{{ url_for('tds') }}">Teachta Dála</a></li>
                <li><a href="{{ url_for('partyindex') }}">Parties</a></li>
                <li><a href="{{ url_for('words') }}">Words</a></li>
                <li><a href="{{ url_for('info') }}">Website Info</a></li>
            </ul>
        </nav>
    </header>

    <div class = contentwrapper>
        <h3>Search for a word</h3>
        <form>
            <input type="text" id="word_search" placeholder="Search for a word...">
        </form>
        <ul id="search_results"></ul>
    </div>
     

</body>
<script src="{{ url_for('static', filename='search.js') }}"></script>
</html>